body {
  width: 100%;
  background: #87cfe6;
  background-image: url("../images/bright_squares.png"); }

main {
  background-color: #232428;
  background-color: rgba(35, 36, 40, 0.6); }

/* MAIN TEXT STYLES */
a {
  color: #87c2ed; }
  a:hover {
    color: #87c2ed;
    text-decoration: none; }

/* NAVIGATION STYLE */
.navigation li {
  margin-bottom: 6px; }
  .navigation li a {
    background-color: #FFFFFF;
    color: #000000;
    text-transform: uppercase; }
  .navigation li a:hover {
    background-color: #ddd; }
  .navigation li.active a {
    background-color: #000000;
    color: #FFFFFF; }

/* END NAVIGATION STYLE */
/* CONTENT STYLES */
.headline, .content h1, #connect h2 {
  font-family: 'Helvetica',sans-serif;
  color: #FFFFFF; }

.content {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: transparent; }
  .content h1 small {
    color: #FFFFFF; }
  .content p {
    color: #FFFFFF; }

.bookbox {
  background: rgba(255, 255, 255, 0.6);
  padding: 12px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }

/* END CONTENT STYLES */
#header h1 {
  font-size: 55px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 20px;
  background: #000;
  font-family: 'Georgia', Serif;
  line-height: 50px; }

#baker {
  background-image: url("../images/Dean_Baker.png");
  background-repeat: no-repeat;
  background-position: top right;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 0 12px 80px 12px; }

/* CONNECT STYLES */
#connect {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.75);
  min-height: 250px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: -20px; }

ul.social-media li, ul.social-media li a {
  height: 36px;
  width: 36px;
  display: inline-block;
  cursor: pointer; }

#twitter {
  background-position: top left;
  background-image: url(../images/soc_icons/social-media.jpg); }
  #twitter:hover {
    background-position: top left;
    background-image: url(../images/soc_icons/social-media-hov.jpg); }

#facebook {
  background-position: top right;
  background-image: url(../images/soc_icons/social-media.jpg); }
  #facebook:hover {
    background-position: top right;
    background-image: url(../images/soc_icons/social-media-hov.jpg); }

#linkedin {
  background-position: bottom left;
  background-image: url(../images/soc_icons/social-media.jpg); }
  #linkedin:hover {
    background-position: bottom left;
    background-image: url(../images/soc_icons/social-media-hov.jpg); }

#tumblr {
  background-position: bottom right;
  background-image: url(../images/soc_icons/social-media.jpg); }
  #tumblr:hover {
    background-position: bottom right;
    background-image: url(../images/soc_icons/social-media-hov.jpg); }

/* END CONNECT STYLES */
/* FOOTER */
footer {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 25px;
  color: #FFFFFF;
  text-align: center;
  z-index: 900;
  bottom: 0;
  position: fixed; }

/* END FOOTER */
/* MEDIA QUERIES */
/* iPad and tablets */
@media screen and (max-width: 800px) {
  /* remove background picture of Dean on smaller screens */
  #baker {
    background-image: none;
    padding: 0; } }
/* iPhone 6 and smaller */
@media screen and (max-width: 400px) {
  /* remove background picture of Dean on smaller screens */
  #connect {
    text-align: center;
    margin: 0 auto; } }

/*# sourceMappingURL=custom.css.map */
